/* ======================
        link font style
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* added font family */
.font {
  font-family: "Poppins", sans-serif;
}
/* font bold */
.bold {
  font-weight: 700;
}
/* added font size */
.font-size {
  font-size: 16px;
}

/* added menu style */
.menu-style {
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #3e3e3e;
}
/* added album button */
.album-btn {
  background-color: #3f87f5;
  color: #fff;
}
.album-btn:hover {
  color: #fff;
}
